.Todo {
  text-align: center;
  background-color: gainsboro;
}
.btn {
  background-color: black;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Top {
  color: aqua;
  background-color: rgb(209, 190, 190);
  height: auto;
  width: 100%;
}
.list{
 background-color: rgb(225, 225, 225);
 padding: 10px;
}
